.details {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  background-color: #fff;
  border-radius: 10px;

  &__info {
    padding: 0.8rem;
    font-weight: bold;
    font-size: 0.95rem;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    text-align: center;
    padding-bottom: 1rem;

    .button {
      margin: auto;
      padding: 1rem;
      display: block;
      width: 95%;
      border-radius: 5px;
      border: 0;
      background-color: #0ad5a1;
      color: #fff;
      font-weight: bolder;
      font-size: 0.9rem;
    }
  }
}
