.request {
  background-color: #fff;
  margin: auto 2rem;

  &__title {
    padding: 0.5rem 0 0 0;

    h4 {
      font-size: 1.3rem;
    }
  }

  &__addresses {
    text-align: center;
    overflow-x: hidden;
    .pickup,
    .dropoff {
      display: inline-block;
      width: 75%;
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 8px;
    }
  }
}
